/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-5-11, 16:14:15
    Author     : Bug
*/
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/*元素默认间距清零*/
.clear:after{
    content: '';
    height:0;
    visibility: hidden;
    display: block;
    clear: both;
}
.clear{
    *zoom:1;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
html{
    font-size: 10px;
}
body{
    font-family: "Microsoft Yahei", "simsun", Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    background:#f0f0f0 ;
    color: #050606;
    letter-spacing: 4px;
}

/*公共声明*/
.title{
    background: #6ec74f;
    color: white;
    font-size:2.4rem;
    display: flex;
    padding: 0 3rem;
    justify-content: center;
}
.title a{
    color: white;
    font-size: 3.6rem;
    line-height: 4.8rem;
}
.title a:hover{
    color: white;
    text-decoration: none;
}
.title span{
    display: inline-block;
    line-height: 4.8rem;
    margin: 0 auto;
}
/*以上是头部修饰*/
.phoneintr{
    margin: 0 auto;
    background: white;
    line-height: 4rem;
    margin-top: 3rem;
    padding: 1rem 3.5rem;
}
.show{
    background: white;
    margin-top: 3rem;
    padding: 1rem 3.5rem;
    border-radius: 20px;
    position: relative;
}
.show span{
    background:#f0f0f0 ;
    width: 3rem;
    padding: .5rem 1rem;
    border-radius: 20px;
    position: relative;
    top:1rem
}
.show img{
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 2.5rem;
    max-width: 100%;
}
.show p{
    text-align: center;
    line-height: 4rem;
}
/*
@media (max-width: 360px) {
    body{
        font-size: 3rem;
    }

}
@media (max-width: 768px) {
    body{
        font-size:3rem;
    }

}*/

